body {
    background-color: blueviolet
}
div{
    background-color: rgb(7, 132, 241);
    padding: 15px;
    width: 500px;
    height: 300px;
    
}
div img{
   width: 100px;
   height: 100px;
}
.clase{
    background-image: url("../img/download.jpg");
}
#Titulo1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
#Titulo2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
#Titulo3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.dividir{
    width: 500px;
    height: 150px;
    background-color: brown;
}